In [73]:
import pandas as pd
import re
import streamlit as st
import re
import networkx as nx
import matplotlib.pyplot as plt

In [63]:
data = pd.read_csv('data/sample_data.csv')

In [64]:
data

,date,keyword,ticker count
0,20220118,Navy,"[('PBR-A', 1), ('REPYY', 1)]"
1,20220118,Wells_Fargo_Securities,"[('BAC', 1), ('BAC-PQ', 1), ('PFQAX', 1), ('WF..."
2,20220118,covid-19,"[('TM', 2), ('SBUX', 1), ('DAL', 1), ('GSBD', ..."
3,20220118,quarter,"[('BAC', 1), ('BAC-PQ', 1), ('PFQAX', 1), ('WF..."
4,20220118,mexican,"[('BNS', 1), ('C', 1)]"
...,...,...,...
2545,20220118,asterisk,"[('XOM', 1)]"
2546,20220118,advertising,"[('NUAN', 1), ('MSFT', 1), ('SNEJF', 1), ('SON..."
2547,20220118,Australia,"[('AMZN', 1), ('KO', 1), ('PEP', 1), ('WMT', 1..."
2548,20220118,implication,"[('BLK', 1)]"
2549,20220118,rise,"[('BABA', 2), ('GSBD', 2), ('MSFT', 1), ('ALEX..."

In [72]:
sel_date = 20220118
sel_key = data.groupby('date').get_group(sel_date)

In [66]:
sel_key['count'] = sel_key['ticker count']

In [67]:
#[int(cnt) for cnt in sel_key['ticker count'][2].split() if cnt.isdigit()]
total_count = sum(map(int, re.findall(r'\d+', sel_key['ticker count'][2])))
sel_key['count'] = sel_key['ticker count'].apply(lambda x: sum(map(int, re.findall(r'\d+', x))))
print(f"ticker count: {sel_key['ticker count'][2]} and total count: {total_count}")

ticker count: [('TM', 2), ('SBUX', 1), ('DAL', 1), ('GSBD', 1), ('KO', 1), ('BHP', 1)] and total count: 7

In [70]:
sel_key.sort_values(by=['count'], axis=0, ascending=False).head(20)['keyword'].tolist()

['company',
 'market',
 'share',
 'U.S.',
 'time',
 'investor',
 'business',
 'industry',
 'world',
 'stock',
 'Chief',
 'Officer',
 'analyst',
 'platform',
 'maker',
 'investment',
 'ceo',
 'software',
 'level',
 'risk']

In [112]:
keyword_list = sel_key.loc[(sel_key['keyword']=='company'), 'ticker count'].values[0]

In [113]:
keyword_list = keyword_list[1:-1]
print(keyword_list)

('MSFT', 6), ('ATVI', 6), ('AMZN', 5), ('GOOGL', 4), ('BLK', 4), ('AAPL', 4), ('SONY', 4), ('FB', 4), ('ZNGA', 4), ('TM', 3), ('BABA', 3), ('VZ', 3), ('GS', 3), ('TSLA', 3), ('SNEJF', 3), ('GOOG', 3), ('NLOK', 3), ('TCEHY', 3), ('TCTZF', 3), ('TTWO', 3), ('COIN', 2), ('KO', 2), ('WMT', 2), ('SQ', 2), ('JPM', 2), ('JPM-PK', 2), ('JPM-PL', 2), ('JPM-PM', 2), ('XOM', 2), ('SHOP', 2), ('EANAX', 2), ('T', 2), ('BA', 2), ('BHP', 2), ('C', 2), ('CDNS', 2), ('GSBD', 2), ('ALEX', 2), ('EA', 2), ('T-PC', 2), ('STLA.MI', 1), ('SBUX', 1), ('PEP', 1), ('ABBV', 1), ('PTON', 1), ('RSKD', 1), ('MNDY', 1), ('EVT.DE', 1), ('LLY', 1), ('JD', 1), ('JBLU', 1), ('AAL', 1), ('UAL', 1), ('FDX', 1), ('ULCC', 1), ('XMTR', 1), ('AKA', 1), ('FWRG', 1), ('CNVY', 1), ('VECT', 1), ('PATH', 1), ('NRDS', 1), ('MLNK', 1), ('IPO', 1), ('DTC', 1), ('PRCT', 1), ('OMIC', 1), ('NVEI', 1), ('ESMT', 1), ('FDMT', 1), ('BHG', 1), ('GLNCY', 1), ('FCX', 1), ('ERIC', 1), ('IBKR', 1), ('BAC', 1), ('BAC-PQ', 1), ('PFQAX', 1), ('WFC', 1), ('WFC-PD', 1), ('PNC', 1), ('XLF', 1), ('MA', 1), ('CVX', 1), ('RY', 1), ('PINS', 1), ('XRSMF', 1), ('ESPIX', 1), ('GME', 1), ('AMC', 1), ('CHWY', 1), ('SU', 1), ('BLNK', 1), ('GM', 1), ('ABM', 1), ('CLR', 1), ('CHK', 1), ('EPGNF', 1), ('M', 1), ('PDVAX', 1), ('PDAAX', 1), ('PDICX', 1), ('PDIIX', 1), ('PDNIX', 1), ('PDVBX', 1), ('PDVDX', 1), ('PDVPX', 1), ('NKE', 1), ('BBY', 1), ('DKS', 1), ('UA', 1), ('UAA', 1), ('ASML', 1), ('GSK', 1), ('UL', 1), ('MELI', 1), ('NUAN', 1), ('F', 1), ('RIVN', 1), ('T-PA', 1), ('JAPSY', 1), ('JPNRF', 1), ('SONO', 1), ('YELP', 1), ('SPOT', 1), ('MTCH', 1), ('TEVA', 1), ('NYT', 1)

In [147]:
keyword_list2 = re.findall(r'\(\'\D+\', \d\)', keyword_list)
print(keyword_list2)

["('MSFT', 6)", "('ATVI', 6)", "('AMZN', 5)", "('GOOGL', 4)", "('BLK', 4)", "('AAPL', 4)", "('SONY', 4)", "('FB', 4)", "('ZNGA', 4)", "('TM', 3)", "('BABA', 3)", "('VZ', 3)", "('GS', 3)", "('TSLA', 3)", "('SNEJF', 3)", "('GOOG', 3)", "('NLOK', 3)", "('TCEHY', 3)", "('TCTZF', 3)", "('TTWO', 3)", "('COIN', 2)", "('KO', 2)", "('WMT', 2)", "('SQ', 2)", "('JPM', 2)", "('JPM-PK', 2)", "('JPM-PL', 2)", "('JPM-PM', 2)", "('XOM', 2)", "('SHOP', 2)", "('EANAX', 2)", "('T', 2)", "('BA', 2)", "('BHP', 2)", "('C', 2)", "('CDNS', 2)", "('GSBD', 2)", "('ALEX', 2)", "('EA', 2)", "('T-PC', 2)", "('STLA.MI', 1)", "('SBUX', 1)", "('PEP', 1)", "('ABBV', 1)", "('PTON', 1)", "('RSKD', 1)", "('MNDY', 1)", "('EVT.DE', 1)", "('LLY', 1)", "('JD', 1)", "('JBLU', 1)", "('AAL', 1)", "('UAL', 1)", "('FDX', 1)", "('ULCC', 1)", "('XMTR', 1)", "('AKA', 1)", "('FWRG', 1)", "('CNVY', 1)", "('VECT', 1)", "('PATH', 1)", "('NRDS', 1)", "('MLNK', 1)", "('IPO', 1)", "('DTC', 1)", "('PRCT', 1)", "('OMIC', 1)", "('NVEI', 1)", "('ESMT', 1)", "('FDMT', 1)", "('BHG', 1)", "('GLNCY', 1)", "('FCX', 1)", "('ERIC', 1)", "('IBKR', 1)", "('BAC', 1)", "('BAC-PQ', 1)", "('PFQAX', 1)", "('WFC', 1)", "('WFC-PD', 1)", "('PNC', 1)", "('XLF', 1)", "('MA', 1)", "('CVX', 1)", "('RY', 1)", "('PINS', 1)", "('XRSMF', 1)", "('ESPIX', 1)", "('GME', 1)", "('AMC', 1)", "('CHWY', 1)", "('SU', 1)", "('BLNK', 1)", "('GM', 1)", "('ABM', 1)", "('CLR', 1)", "('CHK', 1)", "('EPGNF', 1)", "('M', 1)", "('PDVAX', 1)", "('PDAAX', 1)", "('PDICX', 1)", "('PDIIX', 1)", "('PDNIX', 1)", "('PDVBX', 1)", "('PDVDX', 1)", "('PDVPX', 1)", "('NKE', 1)", "('BBY', 1)", "('DKS', 1)", "('UA', 1)", "('UAA', 1)", "('ASML', 1)", "('GSK', 1)", "('UL', 1)", "('MELI', 1)", "('NUAN', 1)", "('F', 1)", "('RIVN', 1)", "('T-PA', 1)", "('JAPSY', 1)", "('JPNRF', 1)", "('SONO', 1)", "('YELP', 1)", "('SPOT', 1)", "('MTCH', 1)", "('TEVA', 1)", "('NYT', 1)"]

In [171]:

tmp_list = []

for idx, data in enumerate(keyword_list2):
    data = re.sub('[(,\),\',\']', '', data)
    tmp = re.split(' ', data)
    tmp[1] = int(tmp[1])
    list_key.append(tmp)

In [172]:
print(list_key)

[['MSFT', 6], ['ATVI', 6], ['AMZN', 5], ['GOOGL', 4], ['BLK', 4], ['AAPL', 4], ['SONY', 4], ['FB', 4], ['ZNGA', 4], ['TM', 3], ['BABA', 3], ['VZ', 3], ['GS', 3], ['TSLA', 3], ['SNEJF', 3], ['GOOG', 3], ['NLOK', 3], ['TCEHY', 3], ['TCTZF', 3], ['TTWO', 3], ['COIN', 2], ['KO', 2], ['WMT', 2], ['SQ', 2], ['JPM', 2], ['JPM-PK', 2], ['JPM-PL', 2], ['JPM-PM', 2], ['XOM', 2], ['SHOP', 2], ['EANAX', 2], ['T', 2], ['BA', 2], ['BHP', 2], ['C', 2], ['CDNS', 2], ['GSBD', 2], ['ALEX', 2], ['EA', 2], ['T-PC', 2], ['STLA.MI', 1], ['SBUX', 1], ['PEP', 1], ['ABBV', 1], ['PTON', 1], ['RSKD', 1], ['MNDY', 1], ['EVT.DE', 1], ['LLY', 1], ['JD', 1], ['JBLU', 1], ['AAL', 1], ['UAL', 1], ['FDX', 1], ['ULCC', 1], ['XMTR', 1], ['AKA', 1], ['FWRG', 1], ['CNVY', 1], ['VECT', 1], ['PATH', 1], ['NRDS', 1], ['MLNK', 1], ['IPO', 1], ['DTC', 1], ['PRCT', 1], ['OMIC', 1], ['NVEI', 1], ['ESMT', 1], ['FDMT', 1], ['BHG', 1], ['GLNCY', 1], ['FCX', 1], ['ERIC', 1], ['IBKR', 1], ['BAC', 1], ['BAC-PQ', 1], ['PFQAX', 1], ['WFC', 1], ['WFC-PD', 1], ['PNC', 1], ['XLF', 1], ['MA', 1], ['CVX', 1], ['RY', 1], ['PINS', 1], ['XRSMF', 1], ['ESPIX', 1], ['GME', 1], ['AMC', 1], ['CHWY', 1], ['SU', 1], ['BLNK', 1], ['GM', 1], ['ABM', 1], ['CLR', 1], ['CHK', 1], ['EPGNF', 1], ['M', 1], ['PDVAX', 1], ['PDAAX', 1], ['PDICX', 1], ['PDIIX', 1], ['PDNIX', 1], ['PDVBX', 1], ['PDVDX', 1], ['PDVPX', 1], ['NKE', 1], ['BBY', 1], ['DKS', 1], ['UA', 1], ['UAA', 1], ['ASML', 1], ['GSK', 1], ['UL', 1], ['MELI', 1], ['NUAN', 1], ['F', 1], ['RIVN', 1], ['T-PA', 1], ['JAPSY', 1], ['JPNRF', 1], ['SONO', 1], ['YELP', 1], ['SPOT', 1], ['MTCH', 1], ['TEVA', 1], ['NYT', 1]]

In [173]:
df_keyword = pd.DataFrame(list_key, columns=['keyword', 'count'])

In [174]:
df_keyword

    keyword  count
0      MSFT      6
1      ATVI      6
2      AMZN      5
3     GOOGL      4
4       BLK      4
..      ...    ...
123    YELP      1
124    SPOT      1
125    MTCH      1
126    TEVA      1
127     NYT      1

[128 rows x 2 columns]