In [2]:
import pandas as pd
import re
import streamlit as st
import re
import networkx as nx
import matplotlib.pyplot as plt
from ast import literal_eval

In [193]:
data = pd.read_csv('data/Match Keyword and Ticker Count_day.csv')

In [194]:
test_data = data.loc[data['date']==20220118].reset_index(drop = True)

In [195]:
test_data['ticker count'] = test_data['ticker count'].map(lambda x: literal_eval(x))

In [211]:
test = test_data[10:15].reset_index(drop=True)
print(test)

       date    keyword                                       ticker count
0  20220118  economist                                         [(BLK, 1)]
1  20220118    fortune                                     [(STLA.MI, 1)]
2  20220118  Kinoshita                                          [(TM, 1)]
3  20220118       hour  [(BAC, 1), (BAC-PQ, 1), (PFQAX, 1), (WFC, 1), ...
4  20220118    website  [(BLK, 1), (SONO, 1), (AMZN, 1), (FB, 1), (GOO...

In [210]:
#my version - for one keyword
result = pd.DataFrame()
for idx in range(len(test)):
    tmp = test['ticker count'][idx]

    df = pd.DataFrame(tmp, columns = ['ticker', 'count'])
    df['keyword'] = test['keyword'][idx]
    df = df[['keyword', 'ticker', 'count']]
    result = pd.concat([result, df])
    
print(result.reset_index(drop=True))

      keyword   ticker  count
0   economist      BLK      1
1     fortune  STLA.MI      1
2   Kinoshita       TM      1
3        hour      BAC      1
4        hour   BAC-PQ      1
5        hour    PFQAX      1
6        hour      WFC      1
7        hour   WFC-PD      1
8        hour       GS      1
9        hour        C      1
10       hour      PNC      1
11       hour      JPM      1
12       hour   JPM-PK      1
13       hour   JPM-PL      1
14       hour   JPM-PM      1
15       hour      XLF      1
16       hour     BLNK      1
17       hour       GM      1
18       hour      ABM      1
19    website      BLK      1
20    website     SONO      1
21    website     AMZN      1
22    website       FB      1
23    website     GOOG      1
24    website    GOOGL      1
25    website     YELP      1
26    website     AAPL      1
27    website     ZNGA      1
28    website     SPOT      1
29    website     MTCH      1
30    website  SGRE.MC      1
31    website       GE      1

In [212]:
result.reset_index(drop=True).columns.values.tolist()

['keyword', 'ticker', 'count']

In [186]:
result_df = pd.DataFrame()
for idx in range(len(data)):
    df = pd.DataFrame([*data.iloc[idx]['ticker count']])
    df['date'],df['keyword'] = data.iloc[idx]['date'],data.iloc[idx]['keyword']
    result_df = pd.concat([result_df,df])
    
result_df.columns = ['ticker','count','date','keyword']
result_df = result_df[['date','keyword','ticker','count']]

In [192]:
result_df

        date                 keyword  ticker  count
0   20220118                    Navy   PBR-A      1
1   20220118                    Navy   REPYY      1
0   20220118  Wells_Fargo_Securities     BAC      1
1   20220118  Wells_Fargo_Securities  BAC-PQ      1
2   20220118  Wells_Fargo_Securities   PFQAX      1
..       ...                     ...     ...    ...
13  20220118                    rise    TTWO      1
14  20220118                    rise    MELI      1
15  20220118                    rise    SCHW      1
16  20220118                    rise     BLK      1
17  20220118                    rise      BK      1

[20434 rows x 4 columns]